# Ignorar binarios y archivos compilados
*.class
*.jar
*.war
*.ear

# Directorios de compilación
/bin/
/build/

**/target/
# Archivos de configuración del IDE (IntelliJ, Eclipse, VS Code)
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.swp

# Dependencias descargadas por Maven
.m2/

# Logs y archivos de depuración
*.log
hs_err_pid*

order-infrastructure/docker-compose/volume_order/
order-infrastructure/docker-compose/volume_order_data/
order-infrastructure/docker-compose/.backup/
order-infrastructure/docker-compose/zookeeper-data/
order-infrastructure/docker-compose/


# Configuración del sistema operativo
.DS_Store
Thumbs.db
